# игнорируем исходную базу данных
data/dst-3.0_16_1_hh_database.csv
# игнорируем дублирующий файл
Project-1._Ноутбук-шаблон2.ipynb
# игнорируем файл с требования к оформлению
Требования к оформлению.odt